body {
  padding-left: 2%;
  /* width: 45%;     */ }

@media only screen and (min-width: 768px) {
  body {
    width: 100%;
    /* overflow: hidden; */ } }
#img_float {
  float: right;
  height: 200px;
  width: 200px;
  max-height: none; }

#product_name {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 31px;
  font-weight: bold;
  color: #85b73c;
  display: grid;
  line-height: 50px; }

#line {
  width: 5%;
  float: left;
  clear: both;
  margin: 20px 10px 0 10px;
  border: 1px solid #85b73c; }

.div_margin {
  margin-left: 35px; }

h2 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold; }

.c_service {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #46536c;
  display: grid;
  margin-right: 50px; }

.my-icon {
  float: left;
  color: #003187;
  padding-right: 10px;
  font-size: 24px;
  margin-top: 10px; }

.content {
  display: block; }

.top-icon {
  color: #003187;
  font-size: 24px;
  text-align: center; }

.custom_h3 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #9eddfa; }

.last_table {
  border: 1px solid #cddaf0;
  border-collapse: collapse;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #46536c;
  text-align: center; }
  .last_table th, .last_table td {
    border: 1px solid #cddaf0;
    border-collapse: collapse; }
  .last_table tr:first-child th {
    background: #edf2fa; }

.padding_td {
  padding-left: 35px;
  text-align: center; }

.td_text_align {
  text-align: left; }

.fa_check_color {
  color: green;
  padding: 5px; }

.tr_height {
  height: 50px; }

@media only screen and (max-width: 350px) {
  .padding_td {
    padding-left: 0; }

  .c_service {
    margin-right: 0; }

  .wrappable td {
    display: block; } }

/*# sourceMappingURL=styles.css.map */
