<div>
    <div class="line"></div>
    <h1 class="product-name">Most important goes here. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus impedit pariatur ipsum, quaerat architecto tempore eos ad deserunt voluptate voluptatum quasi ex animi esse sit molestiae harum enim error perspiciatis.</h1>
    <h2>Courier Delivery Service</h2>
    <div class="c-service">
        <p> JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Decor, Bath Products). It is important that you provide correct address information. If after three failed attempts of delivering your products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store that send the product out. At this point, a refund will be given to you for only the products.<br><br>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery. You will be able to start tracking your order at <a href="http://wwww.purolator.com">http://wwww.purolator.com</a>. Once Purolator picks up the products from the JYSK store</p>
    </div>
    <h2>Local Delivery Service</h2>
    <div class="c-service">
        <p>JYSK.lv uses 3rd party delivery companies to send furniture and mattress products. All deliveries will be a two man service and will be either first-point-of-entry or any room in the house depending on location.</p>
        <ul>
            <li>The best shipping company in the world</li>
            <li>Another bullet point outlining the global local deliveries</li>
            <li>The third bullet point example</li>
        </ul>
        <div class="content">
            <div class="fa fa-envelope my-icon">&nbsp;</div>
            <h3 class="uppercase">sanem atlades kodu</h3>
            <div class="div-margin">Sanem registracijas apstiprinajumu un atlaides kodu uz e-pastu.</div>
            <em class="fa fa-cart-plus my-icon">‍</em>
            <h3 class="uppercase">sanem atlades kodu</h3>
            <div class="div-margin">Sanem registracijas apstiprinajumu un atlaides kodu uz e-pastu.</div>
        </div>
        <br>
        <table class="wrappable">
            <tbody>
            <tr class="content c-service">
                <td class="text-center"><em class="fa fa-envelope top-icon">‍</em>
                    <h3 class="uppercase">sanem atlades kodu</h3>
                    <div>Sanem registracijas apstiprinajumu un atlaides kodu uz e-pastu.</div>
                </td>
                <td class="padding-td"><em class="fa fa-cart-plus top-icon">‍</em>
                    <h3 class="uppercase">sanem atlades kodu</h3>
                    <div>Sanem registracijas apstiprinajumu un atlaides kodu uz e-pastu.</div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <table>
            <tbody>
            <tr class="content c-service">
                <td class="td-text-align">
                    <h2>Half column content</h2>
                    <div>JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Decor, Bath Products). It is important that you provide correct address information. If after three failed attempts of delivering your products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store that send the product out. At this point, a refund will be given to you for only the products.<br><br>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery. You will be able to start tracking your order at <a href="http://wwww.purolator.com">http://wwww.purolator.com</a>. Once Purolator picks up the products from the JYSK store</div>
                </td>
                <td class="padding-half-column">
                    <h2>Half column content</h2>
                    <div>JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Decor, Bath Products). It is important that you provide correct address information. If after three failed attempts of delivering your products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store that send the product out. At this point, a refund will be given to you for only the products.<br><br>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery. You will be able to start tracking your order at <a href="http://wwww.purolator.com">http://wwww.purolator.com</a>. Once Purolator picks up the products from the JYSK store</div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <h2>Full width paragraph</h2>
        <h3 class="custom-h3">H3 SUBTITLE</h3>
        <p>JYSK.lv uses 3rd party delivery companies to send furniture and mattress products. All deliveries will be a two man service and will be either first-point-of-entry or any room in the house depending on location.</p>
        <table id="desktop-table" class="last-table">
            <thead>
            <tr class="tr-height">
                <th>&nbsp;</th>
                <th>A TABLE EXAMPLE COLUMN 1</th>
                <th>ANOTHER COLUMN</th>
                <th>LAST COLUMN</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Row title in two lines</td>
                <td>Some text aligned in center of cell</td>
                <td>Second row example</td>
                <td>Last column row</td>
            </tr>
            <tr>
                <td>Small row title</td>
                <td>Lorem ipsum dolor jysk amet.</td>
                <td>Consectuam</td>
                <td><em class="fa fa-check fa-check-color">‍</em>Integrated</td>
            </tr>
            <tr>
                <td>Small row title</td>
                <td>Lorem ipsum dolor jysk amet.</td>
                <td><em class="fa fa-check fa-check-color">‍</em>Yes</td>
                <td>This was an empty cell</td>
            </tr>
            <tr>
                <td>Row title in three long lines to show fludity</td>
                <td>Some text aligned in center of cell</td>
                <td>Second row example</td>
                <td>Last column row</td>
            </tr>
            </tbody>
        </table>
        <div id="mobile-tables">
            <table class="last-table">
                <thead>
                <tr>
                    <th class="tr-height" colspan="2">A TABLE EXAMPLE COLUMN 1</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Row title in two lines</td>
                    <td>Some text aligned in center of cell</td>
                </tr>
                <tr>
                    <td>Small row title</td>
                    <td>Lorem ipsum dolor jysk amet.</td>
                </tr>
                <tr>
                    <td>Small row title</td>
                    <td>Lorem ipsum dolor jysk amet.</td>
                </tr>
                <tr>
                    <td>Row title in three long lines to show fludity</td>
                    <td>Lorem ipsum dolor jysk amet.</td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class="last-table">
                <thead>
                <tr>
                    <th class="tr-height" colspan="2">A TABLE EXAMPLE COLUMN 1</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Row title in two lines</td>
                    <td>Some text aligned in center of cell</td>
                </tr>
                <tr>
                    <td>Small row title</td>
                    <td>Lorem ipsum dolor jysk amet.</td>
                </tr>
                <tr>
                    <td>Small row title</td>
                    <td>Lorem ipsum dolor jysk amet.</td>
                </tr>
                <tr>
                    <td>Row title in three long lines to show fludity</td>
                    <td>Lorem ipsum dolor jysk amet.</td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class="last-table">
                <thead>
                <tr>
                    <th class="tr-height" colspan="2">A TABLE EXAMPLE COLUMN 1</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Row title in two lines</td>
                    <td>Some text aligned in center of cell</td>
                </tr>
                <tr>
                    <td>Small row title</td>
                    <td>Lorem ipsum dolor jysk amet.</td>
                </tr>
                <tr>
                    <td>Small row title</td>
                    <td>Lorem ipsum dolor jysk amet.</td>
                </tr>
                <tr>
                    <td>Row title in three long lines to show fludity</td>
                    <td>Lorem ipsum dolor jysk amet.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>