.body-div {
    padding-left: 2%;
}

.c-service {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: $ink;
    display: grid;
}

.content {
    display: block;
}

.custom-h3 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: rgb(158, 221, 250);
}

.div-margin {
    margin-left: 35px;
}

.fa-check-color {
    color: green;
    padding: 5px;
}

.h2-custom {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.img-float {
    float: right;
    height: 200px;
    width: 200px;
    max-height: none;
}

.line {
    width: 5%;
    float: left;
    clear: both;
    margin: 20px 10px 0 10px;
    border: 1px solid $army-green;
}

.last-table {
    border: 1px solid $grey-blue;
    border-collapse: collapse;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: $ink;
    text-align: center;

    th, td {
        border: 1px solid $grey-blue;
        border-collapse: collapse;
    }

    tr:first-child th {
        background: $light-grey;
    }

    tr td:first-child {
        text-align: left;
    }
}

.my-icon {
    float: left;
    color: $dark-blue;
    padding-right: 10px;
    font-size: 24px;
    margin-top: 10px;
}

.product-name-custom {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 31px;
    font-weight: bold;
    color: $army-green;
    display: grid;
    line-height: 50px;
}

.padding-td {
    padding-left: 35px;
    text-align: center;
}

.padding-half-column {
    padding-left: 35px;
}

.top-icon {
    color: $dark-blue;
    font-size: 24px;
    text-align: center;
}

.td-text-align {
    text-align: left;
}

.text-center {
    text-align: center;
}

.tr-height {
    height: 50px;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .body-div {
        width: 100%;

    }
}

@media only screen and (max-width: 350px) {

    .c-service {
        margin-right: 0;
        width: 350px;
    }

    .padding-td {
        padding-left: 0;
    }    

    .img-float {
        height: 300px;
        width: 350px;
    }

    .wrappable td {
        display: block;
    }
}
