.custom-overall {
    .arrow {
        width: 40px;
        height: 40px;
    }
    
    .arrow:hover {
        cursor: pointer;
    }
    
    .block-title {
        text-align: center;
    }
    
    .custom-item-link {
        font-weight: bold !important;
        font-size: 26px;
    }
    
    .custom-title {
        color: $grey-border;
        font-size: 24px !important;
    }
    
    .custom-item {
        margin-left: 20px !important;
    }
    
    .in-stock {
        margin-left: 20px;
        color: $army-green;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
        padding-bottom: 20px;
    }
    
    .next-custom {
        display: block;
        background: url('../../images/icons/arrow-right.png') no-repeat center;
        background-size: contain;
        position: absolute;
        right: -10%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
    }
    
    .product-item-name {
        font-weight: bold;
    }
    
    .price {
        font-size: 18px !important;
    }
    
    .price-container {
        margin-left: 20px;
        color: $grey;
    }
    
    .product-item .price-box {
        margin-bottom: 5px;
    }
    
    .prev-custom {
        display: block;
        background: url('../../images/icons/arrow-left.png') no-repeat center;
        background-size: contain;
        position: absolute;
        z-index: 1000;
        left: -10%;
        top:50%;
        transform: translateY(-50%);
    }
    
    .product-image-container {
        width: 100% !important;
    }
    
    .product-item-info {
        padding: 0;
        width: 100%;
        border: 1px solid $grey-border !important;
    }
    
    .product-image-photo {
        width: 100%;
        margin-top: -25px;
    }
    
    @media only screen and (max-width: 767px) {
        .prev-custom {
            left: 5%;
        }
    
        .next-custom {
            right: 3%;
        }
    
        .slick-slide {
            opacity: 0.2;
        }
    
        .slick-active {
            opacity: 1;
        }
    
        .custom-item {
            margin-left: 10px !important;
        }
    }
}